/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 dic. 2022, 20:49:16
    Author     : ADRIAN CAMPUZANO
*/

body{
    height: 10px;
    font-family:'Poppins',sans-serif;
    background-image: linear-gradient(to top, #74C69D 0%, #74C69D 100%);
}
/* Aqui empieza el login y register */
.content{
    height: 90vh;
    width: 60em;
    margin: 2em auto;
    display:flex; 
    justify-content: space-between;
    overflow: hidden;
    border-radius: 10px;
}

.info-content{
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    background-color: #f8f3ff;

}

.image{
    width: 50%;
    background-color: #b4d8c7;
    padding: 2rem;
    box-sizing: border-box;
}

.titulo{
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: black;
}

.iniciar-con{
    width: 100%;
    display: flex;
    justify-content: center;
}
.google{
    width: 12.5rem;
    height: 3.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border:1px solid #1B4332;
}

.google img{
    width: 1rem;
    height: 1rem;
    position: relative;
    top: 0;
    left: -0.625rem;
}

.google:hover{
    background-color: #fff;
    cursor: pointer;
}

.facebook{
    width: 12.5rem;
    height: 3.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border:1px solid #1B4332;
}

.facebook img{
    width: 1rem;
    height: 1rem;
    position: relative;
    top: 0;
    left: -0.625rem;
}

.facebook:hover{
    background-color: #fff;
    cursor: pointer;
}

.info-content p.o{
    font-size: 1.20em;
    margin-top: 1.5em;
}

.inputs{
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input, .btn{
    width: 90%;
    height:3.125rem;
    font-size: 1em;
}

.input{
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.input:hover{
    border: 2px solid #1B4332;
}

.btn{
    width: 80%;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 10px;
    background-color: #1B4332;
    cursor: pointer;
}

.inputs p {
   margin: 0;
}

.inputs a{
    color:#52B788;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

/* Aqui empieza el error.html */
.info-content p.error{
    font-size: 1.25em;
    margin-top: 10.5em;
}
